<template>
    <tr>
        <td>
            <input type="number" class="form-control-sm" style="width:5em" v-bind:value="qVal" v-on:input="sendChangeEvent" />
        </td>
        <td>{{line.product.name}}</td>
        <td class="text-right">
            {{ line.product.price | currency }}
        </td>
        <td class="text-right">
            {{ (line.quantity * line.product.price) | currency }}
        </td>
        <td class="text-center">
            <button class="btn btn-sm btn-danger" v-on:click="sendRemoveEvent">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>

<script src="./ShoppingCartLine.ts"></script>