<template>
    <div>
        <div v-for="p in products" v-bind:key="p.id" class="card m-1 p-1 bg-light">
            <h4>
                {{p.name}}
                <span class="badge badge-pill badge-primary float-right">
                    {{p.price | currency}}
                </span>
            </h4>
            <div class="card card-text bg-white p-1">
                {{p.description}}
                <button @click="handleProductAdd(p)" class="btn btn-success btn-sm float-right">
                    Add To Cart <i class="fa fa-plus-circle"></i>
                </button>
            </div>
        </div>
        <page-controls></page-controls>
    </div>
</template>

<script src="./ProductList.ts"></script>